<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gloock&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Gloock&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

<!-- //download icon -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


<header></header>

<div class="">
    <div class="main-div d-flex flex-column align-items-center justify-content-center">
        <div class="gradient-text d-flex align-item-center justify-content-center" style="position: relative; z-index: 2;">
            <p class="mt-4" style="letter-spacing: 0px;">Indura Perera</p>
        </div>

        <div class="what-i-do" style="color:white; position: relative; z-index: 2;">
            <p class="text-center">Full stack Developer<br>
                Dev-Ops Enthusiast<br>
                UI/UX Designer</p>
        </div>

        <!-- <div class="" style="position: absolute; z-index: 1;">
            <img src="assets/pic1.png">
        </div> -->
    </div>

    <div class="main-div mt-1 d-flex">
        <div class="w-50 fs-5 text-center " style="margin-left: 40px; margin-top: 100px; font-family: Playfair Display;">
            "I'm a Full Stack Developer, DevOps enthusiast, and UI/UX designer from Sri Lanka, 
            passionate about building sustainable technology solutions. I’m dedicated to learning new skills 
            and thrive in environments that push me to grow quickly as a fast learner. My interest lies in 
            creating innovative technologies that contribute to a sustainable and safe environment for humankind. 
            In addition to my professional work, I enjoy sharing knowledge and helping others grow in their tech 
            journey, believing that collaboration and learning are key to progress. My ultimate goal is to use 
            technology to make the world a more sustainable and inclusive place."
        </div>

        <div class="w-50 d-flex align-item-center justify-content-center mt-5">
            <img src="assets/pic1.png" class="div-2-image rounded-circle">
        </div>
    </div>

    <div class="main-div mt-1 d-flex flex-column" style="height: 700px;">
        <div class="mt-5">
            <p data-aos="fade-right" class="text-center fw-lighter" style="font-family: Figtree; font-size: 90px; letter-spacing: 60px;">
              <span data-aos="fade-right">PROJ</span><span data-aos="fade-left">ECTS</span></p>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-aos="fade-left">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
          
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row py-5 mx-3">
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 350px;">
                      <div class="card-body">
                        <h3 class="card-title text-center">NourishNet</h3>
                        <p class="card-text">NourishNet is a platform that connects food donors with recipients to 
                            reduce waste and promote sustainability. Donors can easily share surplus food, while 
                            recipients can request and collect it efficiently.
                          <!-- Tech stack: ASP.NET core with Entity Framework Core, React with TypeScript, Redux, Bootstrap, Mysql, PostMan--></p> 
                          <div class="d-flex mb-4 justify-content-center"> 
                            <img src="assets/dotnet.svg" class="project-icon mx-1">
                            <img src="assets/react.png" class="project-icon mx-1">
                            <img src="assets/redux.png" class="project-icon mx-1">
                            <img src="assets/bootstrap.png" class="project-icon mx-1" style="width: 50px;">
                            <img src="assets/typescript.svg" class="project-icon mx-1">
                            <img src="assets/mysql.png" class="project-icon mx-1">
                          </div>
                        <div class="d-flex">
                            <a href="https://github.com/indura08/NourishNet-Web-Application" target="_blank" class="btn btn-dark mx-4 btnType1">View in GitHub</a>
                            <a href="#" class="btn btn-dark mx-2 btnType1">View in LinkedIn</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 350px;">
                      <div class="card-body">
                        <h3 class="card-title text-center">Workiez</h3>
                        <p class="card-text">Workiez connects users who need tasks done with skilled workers. 
                          Normal users can post jobs, while worker users can browse and apply. Once an 
                          application is approved, the worker completes the task on-site.
                        </p>

                        <div class="d-flex mb-4 justify-content-center">
                          <img src="assets/spring.png" class="project-icon mx-2"/>
                          <img src="assets/angular.png" class="project-icon mx-2">
                          <img src="assets/psotgre.png" class="project-icon mx-1" style="width: 80px; height: 50px;;">
                          <img src="assets/bootstrap.png" class="project-icon mx-1" style="width: 50px;">
                        </div>
                        <div class="d-flex">
                            <a href="https://github.com/indura08/Workiez-Web-Application-Project" target="_blank" class="btnType1 btn btn-dark mx-4">View In GitHub</a>
                            <a href="#" class="btn btn-dark mx-2 btnType1">View In LinkedIn</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 350px;">
                      <div class="card-body">
                        <h3 class="text-center card-title">AuctionX</h3>
                        <p class="card-text">AuctionX is a platform where users can list items for auction, and 
                          buyers can place bids in real-time. Sellers manage listings, while buyers compete for the best 
                          price until the auction closes.</p>
                          <div class="d-flex mb-3 align-items-center justify-content-center">
                              <img src="assets/dotnet.svg" class="project-icon mx-2">
                              <img src="assets/mysql.png" class="project-icon mx-2">
                          </div>

                        <div class="d-flex">
                            <a href="https://github.com/indura08/AuctionX-A-bidding-platform-ASP.NET-Web-Application-" class="btn btn-dark mx-4 btnType1">View In GitHub</a>
                            <a href="#" class="btn btn-dark mx-2 btnType1">View In LinkedIn</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="carousel-item">
                <div class="row py-5 mx-3">
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 350px;">
                      <div class="card-body">
                        <h3 class="text-center card-title">Simple Employee Management System</h3>
                        <p class="card-text">A simple Employee Management System that allows users to store 
                          employee details and perform CRUD operations for employee records efficiently.</p>

                        <div class="d-flex mb-4 justify-content-center">
                          <img src="assets/spring.png" class="project-icon mx-2"/>
                          <img src="assets/angular.png" class="project-icon mx-2">
                          <img src="assets/mysql.png" class="project-icon mx-2">
                          <img src="assets/bootstrap.png" class="project-icon mx-2" style="width: 50px;">
                        </div>
                        <div class="d-flex">
                            <a href="https://github.com/indura08/Employee-Management-Application-SpringBoot-Angular" class="btn btn-dark mx-4 btnType1">View In GitHub</a>
                            <a href="#" class="btn btn-dark mx-2 btnType1">View In LinkedIn</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 350px;">
                      <div class="card-body">
                        <h3 class="text-center card-title">ClothinX</h3>
                        <p class="card-text">An e-commerce platform for men's clothing, allowing users to register, 
                          browse products by category (shirts, trousers, etc.), add items to the cart, and checkout with 
                          Stripe payment integration.</p>

                        <div class="d-flex justify-content-center mb-4">
                          <img src="assets/mongo.png" class="project-icon mx-2"/>
                          <img src="assets/react.png" class="project-icon mx-2"/>
                          <img src="assets/redux.png" class="project-icon mx-2"/>
                          <img src="assets/node.png" class="project-icon mx-2"/>
                          <img src="assets/express.png" class="project-icon mx-2"/>
                        </div>
                        <div class="d-flex">
                            <a href="https://github.com/indura08/ClothinX-project-frontend" class="btn btn-dark mx-4 btnType1">View Frontend</a>
                            <a href="https://github.com/indura08/ClothinX-project-Backend" class="btn btn-dark mx-2 btnType1">View Backend</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card v">
                      <div class="card-body project-component" style="height: 350px;">
                        <h3 class="text-center card-title">StudyMates</h3>
                        <p class="card-text">Studymates is a platform for students to collaborate in 
                          virtual chatrooms. It enables users to share study materials like notes and 
                          textbooks, making group study sessions more organized, interactive, and efficient.</p>
                        
                          <div class="d-flex mb-4 justify-content-center">
                            <img src="assets/python.png" class="project-icon mx-2"/>
                            <img src="assets/django.png" class="project-icon mx-2"/>
                            <img src="assets/mysql.png" class="project-icon mx-2"/>
                          </div>
                          <div class="d-flex">
                            <a href="https://github.com/indura08/Studymates-django-practice-project" class="btnType1 btn btn-dark mx-4">View In GitHub</a>
                            <a href="#" class="btn btn-dark mx-2 btnType1">View In LinkedIn</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="carousel-item">
                <div class="row py-5 mx-3">
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 350px;">
                      <div class="card-body">
                        <h3 class="card-title text-center">Project To Learn Docker</h3>
                        <p class="card-text">A simple CRUD app for managing contact details to learn Docker, focusing on creating images, running containers, and pushing images to Docker Hub for hands-on Docker experience</p>
                        
                        <div class="d-flex mb-4 justify-content-center">
                          <img src="assets/flask.png" class="project-icon mx-2"/>
                          <img src="assets/python.png" class="project-icon mx-2"/>
                          <img src="assets/react.png" class="project-icon mx-2"/>
                          <img src="assets/docker.png" class="project-icon mx-2" style="width: 50px;"/>
                        </div>
                        <div class="d-flex">
                            <a href="https://github.com/indura08/Pyhton-flask-React-simple-CRUD-application" class="btnType1 btn btn-dark mx-4">View In GitHub</a>
                            <a href="#" class="btn btn-dark mx-2 btnType1">View LinkedIn</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 350px;">
                      <div class="card-body">
                        <h3 class="card-title text-center">GitLab CI/CD</h3>
                        <p class="card-text">I developed a simple React project to learn GitLab CI/CD pipelines, focusing on automating builds, testing, and deployment processes to enhance my understanding of continuous integration and delivery workflows.</p>
                        <div class="d-flex mb-4 justify-content-center">
                          <img src="assets/gitlab.png" class="project-icon mx-2"/>
                          <img src="assets/react.png" class="project-icon mx-2"/>
                        </div>
                        
                        <div class="d-flex">
                            <a href="https://gitlab.com/indura1/first-gitlab-project" class="btn btn-dark mx-4 btnType1">View In GitLab</a>
                            <a href="#" class="btn btn-dark mx-2 btnType1">View In LinkedIn</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!-- <div class="card project-component" style="height: 350px;">
                      <div class="card-body">
                        <h5 class="card-title">Card 9 title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex">
                            <a href="#" class="btn btn-dark mx-4 btnType1">Go somewhere</a>
                            <a href="#" class="btn btn-dark mx-2 btnType1">Go somewhere</a>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              
            </div>
          
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
    </div>

    <div class="main-div mt-1" style="height: 320px;">
      <div class="">
        <p data-aos="fade-left" class="text-center fw-lighter" style="font-family: Figtree; font-size: 60px; letter-spacing: 60px;">
          <span data-aos="fade-right">SKI</span><span data-aos="fade-left">LLS</span></p>
      </div>

      <div class="d-flex flex-column mx-2 skill-icon-div ">
        <div class="mt-5 d-flex align-items-center icons-div mb-3">
          <img src="assets/typescript.svg" class="skill-div-icon mx-4">
          <img src="assets/js.png" class="skill-div-icon mx-4">
          <img src="assets/python.png" class="skill-div-icon mx-4">
          <img src="assets/java.svg" class="skill-div-icon mx-4">
          <img src="assets/chash.png" class="skill-div-icon mx-4">
          <img src="assets/c.png" class="skill-div-icon mx-4" style="width: 130px;">
          <img src="assets/react.png" class="skill-div-icon mx-4">
          <img src="assets/redux.png" class="skill-div-icon mx-4">
          <img src="assets/angular.png" class="skill-div-icon mx-4">
          <img src="assets/django.png" class="skill-div-icon mx-4">
          <img src="assets/spring.png" class="skill-div-icon mx-4">
          <img src="assets/node.png" class="skill-div-icon mx-4">
          <img src="assets/dotnet.svg" class="skill-div-icon mx-4">
          <img src="assets/express.png" class="skill-div-icon mx-4">
          <img src="assets/flask.png" class="skill-div-icon mx-4">
          <img src="assets/mongo.png" class="skill-div-icon mx-4">
          <img src="assets/mysql.png" class="skill-div-icon mx-4">
          <img src="assets/psotgre.png" class="skill-div-icon mx-4" style="width: 120px;">
          <img src="assets/docker.png" class="skill-div-icon mx-4" style="width: 120px;">
          <img src="assets/kubernets.png" class="skill-div-icon mx-4" style="width: 150px;">
          <img src="assets/jenkings.png" class="skill-div-icon mx-4">
          <img src="assets/gitlab.png" class="skill-div-icon mx-4">
          <img src="assets/github.png" class="skill-div-icon mx-4">
        </div>

        <div>
          <!-- something to do -->
        </div>
      </div>
    </div>

    <div class="main-div mt-1 d-flex flex-column" style="height: 1000px;">
      <div class="">
        <p data-aos="fade-left" class="text-center fw-lighter" style="font-family: Figtree; font-size: 150px; letter-spacing: 10px;">
          <span data-aos="fade-right">About</span><span data-aos="fade-left"><i><span class="text-warning"> Me</span></i></span></p>
      </div>

      <div class="d-flex flex-row mt-5">
        
        <div class="d-flex flex-column">
          <div class="about-me-divs d-flex align-items-end px-4 py-4 fs-5" style="line-height: 1.8; width:400px; height:300px; margin-left: 20px; margin-bottom: 30px; font-family:Figtree">
            Hello👋<br> 
            Im Indura upasith perera<br>
            You can call me indura<br>
            Find my socials and Get in touch ✌️
          </div> 

          <div class="about-me-divs d-flex align-items-end px-4 py-4 fs-5" style="line-height: 1.8; width:400px; height:300px; margin-left: 20px; margin-bottom: 30px; font-family:Figtree">
            Apart from being a full stack devloper and a Dev-Ops learner, I'm also a UI/UX designer 😉<br>
            Hire me!

            <button class="btn custom-button"><span class="material-symbols-outlined mx-1">download</span><span class="mx-1">Resume</span></button>
          </div> 

        </div>

        <div class="about-me-divs d-flex flex-column" style="width:400px; height:630px; margin-left: 20px; margin-bottom: 30px; font-family:Figtree">
          <p class="text-center fs-4 px-4 py-4">"I completed my Advanced Level examinations (Maths Stream) at Asoka College, 
            achieving two Bs and one C. Currently, I am pursuing my undergraduate degree at Sabaragamuwa 
            University of Sri Lanka, where I am enrolled in the Bachelor of Science Honours in Computing 
            and Information Systems program. My academic journey has fueled my passion for technology and 
            sproblem-solving, preparing me for the challenges ahead in the field of computing."</p>
        </div>

        <div class="d-flex flex-column">
          <div class="about-me-divs d-flex align-items-end px-4 py-4 fs-5" style="line-height: 1.8; width:400px; height:300px; margin-left: 20px; margin-bottom: 30px; font-family:Figtree">
            Hello👋<br> 
            Im Indura upasith perera<br>
            You can call me indura<br>
            Find my socials and Get in touch ✌️
          </div> 

          <div class="about-me-divs d-flex align-items-end px-4 py-4 fs-5" style="line-height: 1.8; width:400px; height:300px; margin-left: 20px; margin-bottom: 30px; font-family:Figtree">
            Hello👋<br> 
            Im Indura upasith perera<br>
            You can call me indura<br>
            Find my socials and Get in touch ✌️
          </div> 

        </div>

      </div>

      
      
    </div>

    <div class="main-div mt-1">

    </div>
    
</div>