<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gloock&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Gloock&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">


<header></header>

<div class="">
    <div class="main-div d-flex flex-column align-items-center justify-content-center">
        <div class="gradient-text d-flex align-item-center justify-content-center" style="position: relative; z-index: 2;">
            <p class="mt-4" style="letter-spacing: 0px;">Indura Perera</p>
        </div>

        <div class="what-i-do" style="color:white; position: relative; z-index: 2;">
            <p class="text-center">Full stack Developer<br>
                Dev-Ops Enthusiast<br>
                UI/UX Designer</p>
        </div>

        <!-- <div class="" style="position: absolute; z-index: 1;">
            <img src="assets/pic1.png">
        </div> -->
    </div>

    <div class="main-div mt-1 d-flex">
        <div class="w-50 fs-5 text-center " style="margin-left: 40px; margin-top: 100px; font-family: Playfair Display;">
            "I'm a Full Stack Developer, DevOps enthusiast, and UI/UX designer from Sri Lanka, 
            passionate about building sustainable technology solutions. I’m dedicated to learning new skills 
            and thrive in environments that push me to grow quickly as a fast learner. My interest lies in 
            creating innovative technologies that contribute to a sustainable and safe environment for humankind. 
            In addition to my professional work, I enjoy sharing knowledge and helping others grow in their tech 
            journey, believing that collaboration and learning are key to progress. My ultimate goal is to use 
            technology to make the world a more sustainable and inclusive place."
        </div>

        <div class="w-50 d-flex align-item-center justify-content-center mt-5">
            <img src="assets/pic1.png" class="div-2-image rounded-circle">
        </div>
    </div>

    <div class="main-div mt-1 d-flex flex-column" style="height: 800px;">
        <div class="mt-5">
            <p class="text-center fw-lighter" style="font-family: Figtree; font-size: 120px; letter-spacing: 60px;">PROJECTS</p>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
          
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row py-5 mx-3">
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 250px;">
                      <div class="card-body">
                        <h3 class="card-title text-center">NourishNet</h3>
                        <p class="card-text">NourishNet is a platform that connects food donors with recipients to 
                            reduce waste and promote sustainability. Donors can easily share surplus food, while 
                            recipients can request and collect it efficiently.</p>
                        <div class="d-flex">
                            <a href="https://github.com/indura08/NourishNet-Web-Application" target="_blank" class="btn btn-dark mx-4">View in GitHub</a>
                            <a href="#" class="btn btn-dark mx-2">View in LinkedIn</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 250px;">
                      <div class="card-body">
                        <h5 class="card-title">Card 2 title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex">
                            <a href="#" class="btn btn-dark mx-4">Go somewhere</a>
                            <a href="#" class="btn btn-dark mx-2">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 250px;">
                      <div class="card-body">
                        <h5 class="card-title">Card 3 title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex">
                            <a href="#" class="btn btn-dark mx-4">Go somewhere</a>
                            <a href="#" class="btn btn-dark mx-2">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="carousel-item">
                <div class="row py-5 mx-3">
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 250px;">
                      <div class="card-body">
                        <h5 class="card-title">Card 4 title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex">
                            <a href="#" class="btn btn-primary mx-4">Go somewhere</a>
                            <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 250px;">
                      <div class="card-body">
                        <h5 class="card-title">Card 5 title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex">
                            <a href="#" class="btn btn-primary mx-4">Go somewhere</a>
                            <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card v">
                      <div class="card-body project-component" style="height: 250px;">
                        <h5 class="card-title">Card 6 title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex">
                            <a href="#" class="btn btn-primary mx-4">Go somewhere</a>
                            <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="carousel-item">
                <div class="row py-5 mx-3">
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 250px;">
                      <div class="card-body">
                        <h5 class="card-title">Card 7 title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex">
                            <a href="#" class="btn btn-primary mx-4">Go somewhere</a>
                            <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 250px;">
                      <div class="card-body">
                        <h5 class="card-title">Card 8 title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex">
                            <a href="#" class="btn btn-primary mx-4">Go somewhere</a>
                            <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card project-component" style="height: 250px;">
                      <div class="card-body">
                        <h5 class="card-title">Card 9 title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex">
                            <a href="#" class="btn btn-primary mx-4">Go somewhere</a>
                            <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
    </div>
</div>