<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">


<nav class="navbar navbar-expand-lg py-4 mb-1 main-div">
    <div class="container-fluid">
        <div class="main-div">
            <img src = "assets/logo1.png" class="custom-img mx-4">
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-4"><a href="#projects" class="btn-custom">Projects</a></li>
                <li class="nav-item mx-4"><a href="#aboutMe" class="btn-custom">About</a></li>
                <li class="nav-item mx-4"><a target="_blank" href="https://github.com/indura08" class="btn-custom">PlayGround</a></li>
                <li class="nav-item mx-4"><a href="#footer" class="btn-custom">Social</a></li>
                <li class="nav-item mx-4"><a href="#footer" class="btn-custom">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
