$weight: 100;

.main-div{
    background-color: rgb(0, 0, 0);
    color: white;
    height:80px;
    font-family: figtree;
    font-weight: $weight;
}

.custom-img{
    height: 80px;
    width:120px;
}

.btn-custom{
    color:inherit;
    text-decoration: none;
}

@media(max-width: 932px){
    .custom-img{
        height:30px !important;
        width: 50px !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .main-div{
        height: 40px !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    
}